<div style="max-width: {{ config.maxWidth }};">
	{% if joke %}
		<div class="{{ config.textClasses }}">{{ joke | safe }}</div>
	{% else %}
		<div class="{{ config.textClasses }}">{{ loading }}</div>
	{% endif %}
</div>